input:focus::-webkit-input-placeholder { color:transparent; }
input:focus:-moz-placeholder { color:transparent; } /* FF 4-18 */
input:focus::-moz-placeholder { color:transparent; } /* FF 19+ */
input:focus:-ms-input-placeholder { color:transparent; } /* IE 10+ */

.input-group.date .input-group-addon {
    cursor: pointer;
}

.input-group .input-group-addon {
     line-height: 1!important;
 }

.form-signin {
    margin: 0 auto;
    max-width: 330px;
    padding: 15px;

    .form-signin-heading,
    .checkbox {
        margin-bottom: 10px;
    }

    .checkbox {
        font-weight: normal;
    }

    .form-control {
        box-sizing: border-box;
        font-size: 16px;
        height: auto;
        padding: 10px;
        position: relative;
    }

    .form-control:focus {
        z-index: 2;
    }

    input[type="email"] {
        border-bottom-left-radius: 0;
        border-bottom-right-radius: 0;
        margin-bottom: -1px;
    }

    input[type="password"] {
        border-top-left-radius: 0;
        border-top-right-radius: 0;
        margin-bottom: 10px;
    }
}

.form-control:focus {
    box-shadow: none;
    -webkit-box-shadow: none;
    border-color: $third-color;
}

.sidebar .form-group {
    padding: 0 30px;
}