@import "variables.scss";


body {
    background-color: $second-color;
    padding-bottom: 40px;
    padding-top: 40px;
}

a {
    &:hover,
    &:focus {
        .glyphicon {
            text-decoration: none;
            border-bottom: 0;
            cursor: pointer;
            &::before,
            &::after,
            &:hover,
            &:focus {
                text-decoration: none;
                border-bottom: 0;
            }
        }
    }
}

.navbar-nav {
    .fa {
        margin-right: 5px;
    }
}

.panel .glyphicon-ok,
.panel .glyphicon-remove {
    color: $first-color;
}

.panel-primary .list-group .preview-tool-tip {
    margin-right: 10px;
}

.editable-buttons .btn-primary,
.editable-buttons .btn-default {
    background: $first-color;
     border-color: $third-color;
     &:hover {
        background-color: #e6e6e6;
        border-color: #adadad;
     }
     .glyphicon-ok {
        color: $fifth-color;
     }
     .glyphicon-remove {
        color: $sixth-color;
     }
}

.bg-primary,
.bg-success,
.bg-info,
.bg-warning,
.bg-danger {
    margin: 10px 0;
    padding: 15px;
}

.badge {
    &.badge-default {
        background-color: $first-color;
        border-color: $third-color;
        color: $fourth-color;
    }
    &.badge-primary {
        background-color: $seventh-color;
        border-color: #357ebd;
        color: $first-color;
    }
    &.badge-info {
        background-color: $eight-color;
        border-color: #46b8da;
        color: $first-color;
    }
    &.badge-success {
        background-color: $fifth-color;
        border-color: #4cae4c;
        color: $first-color;
    }
    &.badge-warning {
        background-color: $sixth-color;
        border-color: #d43f3a;
        color: $first-color;
    }
    &.badge-inverse {
        background-color: #d9534f;
        border-color: #d43f3a;
        color: $first-color;
    }
}

.approved .approve-link,
.disapproved .disapprove-link {
    display: none;
}



@import "dashboard.scss";
@import "datepicker.scss";
@import "flag-icon.scss";
@import "payments.scss";
@import "forms.scss";
@import "tables.scss";