
table .glyphicon-ok {
    color: $fifth-color;
}

table .glyphicon-remove {
    color: $sixth-color;
}



table .glyphicon-file,
table .glyphicon-certificate {
    font-size: 22px;
    margin-right: 20px;
}

.table-hover tr:hover,
.table-hover tr:focus,
.table-hover td:hover,
.table-hover td:focus {
    cursor: pointer;
}


table {
    .disapproved {
        a.disapprove-link {
            display: none;
        }
    }

    .approved {
        a.approve-link {
            display: none;
        }
    }
}


table a.preview-tool-tip,
.panel a.preview-tool-tip {
  margin-right: 10px;
  cursor: default;
  color: #000;
  text-decoration: none;
  .glyphicon-eye-open:hover,
  .glyphicon-eye-close:hover,
  .glyphicon-eye-close:hover,
  .glyphicon-eye-close:focus{
    text-decoration: none;
  }
  .glyphicon-eye-open {
    color: $fifth-color;
  }
  .glyphicon-eye-close {
    color: $sixth-color;
  }
}