$flag-icon-css-path: '../fonts/flags' !default;
$flag-icon-rect-path: '/4x3' !default;
$flag-icon-square-path: '/1x1' !default;

$first-color: #fff;       /* wit */
$second-color: #eee;      /* superlicht grijs wit */
$third-color: #ccc;       /* licht grijs */
$fourth-color: #333;      /* donker grijs */
$fifth-color: #5cb85c;    /* groen */
$sixth-color: #d9534f;    /* rood */
$seventh-color: #428bca;  /* blauw */
$eight-color: #5bc0de;    /* lichtblauw */

